<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AracDB"
			 connectionString="Server=92.205.171.9;Database=arac_kiralama_satis;Uid=admin;Pwd=Ke3@1.3ySQ1;Port=3306;SslMode=None;CharSet=utf8mb4;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>