<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Localhost - Orijinal bilgilerinizi koruyun -->
		<add name="AracDB_Local"
			 connectionString="Server=localhost;Database=arac_kiralama_satis;Uid=root;Pwd=2307;Port=3306;SslMode=None;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />

		<!-- Remote - Orijinal bilgilerinizi koruyun -->
		<add name="AracDB_Remote"
			 connectionString="Server=92.205.171.9;Database=arac_kiralama_satis;Uid=admin;Pwd=Ke3@1.3ySQ1;Port=3306;SslMode=None;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Encrypted connection strings - Şifreleme aracıyla doldurulacak -->
		<add key="Encrypted_AracDB_Local" value="" />
		<add key="Encrypted_AracDB_Remote" value="" />

		<!-- Application settings -->
		<add key="UseRemoteDatabase" value="false" />
		<add key="EnableLogging" value="true" />
	</appSettings>
</configuration>