<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Localhost - Orijinal bilgilerinizi koruyun -->
		<add name="AracDB_Local"
			 connectionString="Server=localhost;Database=arac_kiralama_satis;Uid=root;Pwd=2307;Port=3306;SslMode=None;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />

		<!-- Remote - Orijinal bilgilerinizi koruyun -->
		<add name="AracDB_Remote"
			 connectionString="Server=92.205.171.9;Database=arac_kiralama_satis;Uid=admin;Pwd=Ke3@1.3ySQ1;Port=3306;SslMode=None;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Encrypted connection strings - Şifreleme aracıyla doldurulacak -->
		<add key="Encrypted_AracDB_Local" value="w+XdyK05pJpttlCV0Ysz0pbZPiyw4bnEq9A4hOLCaYDJls2a9wcA5mtvrfDJdIm4VDlkAhDIONCPs0mTSvmS7RZb0/OZYJ4cMJg8AW6vEe/HuWc4q2GUZje4HEmT5JOkiOZY9hiKJjjH+IL1UXYsav4dBINVEtg8ou+4gFf4ovedLp2WBHZGndks5cX9BSyEZMBvMesAU+OJIhCdmMvEYvSGZHaGCkBThMHMj95jwLzmL1Qi/MCIeTtNOHa31Bup" />
		<add key="Encrypted_AracDB_Remote" value="06FNifIjM2eMPKmpvUEivm8BsV7EjZ4Vgub9zTmNfzkrRQCXL35LeI+1oyuO+ZCz8Rqf0Km+NCFYYRapuHDsjA6Wy3KiWaJFe3DofGMOKI7qjsmu9oZZHDpcX8N5qYU+/KKMD831kBceaULws5mEeOdFcK/XMm+zYfhq09NixVCQz4tM3coU08zGe3UQQtkCQqIGJomXdD8Zwa/zX/WEm8+o1dBzHjfFjNNcvS2gfUasYfo6hAtc5cF0zyjPwVKxuvPXMqlAWv81rvEMN5uz6A==" />

		<!-- Application settings -->
		<add key="UseRemoteDatabase" value="false" />
		<add key="EnableLogging" value="true" />
	</appSettings>
</configuration>
